body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  
}

.container {
  width: 400px;
  padding: 20px;
  padding-right: 30px;
  padding-left: 30px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  
}

h1 {
  text-align: center;
  color: #149eca;
}

input {
  width: calc(100% - 22px);
  padding: 10px;
  margin-bottom: 10px;
  font-size: 11pt;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #149eca;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 12pt;
  font-size: 11pt;
  font-weight: bolder;
  letter-spacing: 2px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  border-bottom: 1px solid #ccc;
}

/* Optional: Add hover effect */
li:hover {
  background-color: #f0f0f0;
}

